.body-1 {
  background-color: rgb(0, 58, 109);
  padding: 50px 50px;
}

.body-2 {
  background-color: rgb(0, 58, 109);
}

/* Padding for second page, needs to be up here */
.padding-2 {
  padding: 50px 50px;
}

.landing {
  background-color: rgba(216, 237, 255, 0.185);
  text-align: center;
  width: 55em;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  border: rgba(255, 255, 255, 0.411) 9px double;
  background-clip: content-box;
}

.title {
  font-family: "RocknRoll One", serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: relative;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.slogan {
  font-family: "Roboto Condensed", serif;
  margin-top: 3%;
  color: rgb(172, 30, 30);
  text-shadow: 1px 1px 1px rgb(245, 244, 244);
}

.h2-slogan {
  font-size: 2rem;
}

.title2 {
  padding: 30px 200px 30px 200px;
}

.welcome {
  font-size: 325%;
  font-family: "Kanit", serif;
  color: rgb(172, 30, 30);
  text-shadow: 1px 1px 1px rgb(245, 244, 244);
}

.back {
  background-color: rgba(78, 78, 211, 0.514);
  border: 10px solid transparent;
  padding: 15px;
  border-radius: 30% 30% 30% 30%;
  border: rgba(255, 255, 255, 0.411) 9px double;
  background-clip: content-box;
}

.description {
  font-family: "Abel", serif;
  margin-top: 2%;
  color: white;
}

/*Carousel*/
.carousel {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 3%;
}
main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  box-shadow: 3px 3px 3px white;
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-image: url("/Pace\ Univ\ NY\ Campus.jpg");

  background-size: cover;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-image: url("/tiered-case-study-classroom-5th-floor_0.jpg");

  background-size: cover;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-image: url("/images.png");
  background-size: cover;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-image: url("/lubin-image-gallery-facilities-6.jpg");
  background-size: cover;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-image: url("/lubin-image-gallery-facilities-8.jpg");
  background-size: cover;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

/* leadership roles images START*/
#members1 {
  height: 200px;
  width: 100px;
  float: left;
}
#members2 {
  height: 200px;
  width: 100px;
  float: right;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.7);
}

/* NavBar */
.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(170, 14, 14);
}

/* logo style  */
.logo img {
  width: 5rem;
  height: 4rem;
}

.logo img:hover {
}

.hamburger-menu {
  padding-right: 1.5rem;
  cursor: pointer;
}

.hamburger-menu .line {
  display: block;
  width: 2.5rem;
  height: 2px;
  margin-bottom: 10px;
  background-color: rgb(6, 12, 100);
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  top: 6rem;
  background-color: rgba(255, 255, 255, 0.507);
  font-weight: 600;
}
.nav-menu a {
  display: block;
  text-align: center;
}
.nav-menu a:hover {
  background-color: rgb(97, 17, 3);
}

.hide {
  display: none;
}

.nav-btn {
  font-family: "Special Elite", serif;
  color: rgb(19, 88, 167);
  font-size: 1.2rem;
}

/* for Desktop view  */
@media screen and (min-width: 600px) {
  .navbar {
    justify-content: space-around;
  }
  .nav-menu {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }
  .nav-menu a {
    display: inline-block;
    padding: 15px 20px;
  }
  .nav-menu a:hover {
    background-color: rgb(129, 5, 11);
    border-radius: 5px;
    color: white;
  }
  .hamburger-menu {
    display: none;
  }
}

/* Members */
.title-2 {
  font-size: 5rem;
  text-align: center;
  color: rgb(170, 14, 14);
  text-shadow: 1px 1px 1px white;
}
