/* NAVBAR */
.logo {
  max-height: 50px; /* Adjust as needed */
  width: auto;
}
@media (max-width: 576px) {
  .logo {
    max-height: 40px; /* Slightly smaller on extra small screens */
  }
}

.nav-link {
  justify-content: space-evenly;
  padding: 20px;
}
